In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

In [2]:
veriler = pd.read_csv("odev_tenis.csv")
veriler

     outlook  temperature  humidity  windy play
0      sunny           85        85  False   no
1      sunny           80        90   True   no
2   overcast           83        86  False  yes
3      rainy           70        96  False  yes
4      rainy           68        80  False  yes
5      rainy           65        70   True   no
6   overcast           64        65   True  yes
7      sunny           72        95  False   no
8      sunny           69        70  False  yes
9      rainy           75        80  False  yes
10     sunny           75        70   True  yes
11  overcast           72        90   True  yes
12  overcast           81        75  False  yes
13     rainy           71        91   True   no

In [3]:
windy = veriler.iloc[:,3:4].values
windy

array([[False],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [False],
       [False],
       [ True],
       [ True],
       [False],
       [ True]])

In [4]:
#Kategorik ->  Numeric
le = preprocessing.LabelEncoder()
windy[:,0] = le.fit_transform(veriler.iloc[:,3])
ohe = preprocessing.OneHotEncoder()

windy = ohe.fit_transform(windy).toarray()
windy

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.]])

In [5]:
windy[:,1]

array([0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 1., 0., 1.])

In [6]:
#Kategorik ->  Numeric
le = preprocessing.LabelEncoder()
play = veriler.iloc[:,4:].values
play[:,0] = le.fit_transform(veriler.iloc[:,4])
play

array([[0],
       [0],
       [1],
       [1],
       [1],
       [0],
       [1],
       [0],
       [1],
       [1],
       [1],
       [1],
       [1],
       [0]], dtype=object)

In [7]:
#Kategorik ->  Numeric
le = preprocessing.LabelEncoder()
outlook = veriler.iloc[:,0:1].values
outlook[:,0] = le.fit_transform(veriler.iloc[:,0])

ohe = preprocessing.OneHotEncoder()

outlook = ohe.fit_transform(outlook).toarray()
outlook

array([[0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.]])

In [8]:
# ["overcast","rainy","sunny"]
#Kolonların oluşturulması işlemi
sonuc1 = pd.DataFrame(data=outlook,index=range(14),columns=["overcast","rainy","sunny"])
sonuc1

    overcast  rainy  sunny
0        0.0    0.0    1.0
1        0.0    0.0    1.0
2        1.0    0.0    0.0
3        0.0    1.0    0.0
4        0.0    1.0    0.0
5        0.0    1.0    0.0
6        1.0    0.0    0.0
7        0.0    0.0    1.0
8        0.0    0.0    1.0
9        0.0    1.0    0.0
10       0.0    0.0    1.0
11       1.0    0.0    0.0
12       1.0    0.0    0.0
13       0.0    1.0    0.0

In [9]:
#["windy"]
sonuc2 = pd.DataFrame(data=windy[:,:1],index=range(14),columns=["windy"])
sonuc2

    windy
0     1.0
1     0.0
2     1.0
3     1.0
4     1.0
5     0.0
6     0.0
7     1.0
8     1.0
9     1.0
10    0.0
11    0.0
12    1.0
13    0.0

In [10]:
# ["temperature","humidity"]
sonuc3 = pd.DataFrame(data=veriler[["temperature","humidity"]] , index=range(14),columns=["temperature","humidity"])
sonuc3

    temperature  humidity
0            85        85
1            80        90
2            83        86
3            70        96
4            68        80
5            65        70
6            64        65
7            72        95
8            69        70
9            75        80
10           75        70
11           72        90
12           81        75
13           71        91

In [11]:
#["play"]
sonuc4 = pd.DataFrame(data=play[:,:1], index=range(14),columns=["play"])
sonuc4

   play
0     0
1     0
2     1
3     1
4     1
5     0
6     1
7     0
8     1
9     1
10    1
11    1
12    1
13    0

In [12]:
#Kolonların birleştirilmesi işlemi
s1 = pd.concat([sonuc1,sonuc3],axis=1)
s1

    overcast  rainy  sunny  temperature  humidity
0        0.0    0.0    1.0           85        85
1        0.0    0.0    1.0           80        90
2        1.0    0.0    0.0           83        86
3        0.0    1.0    0.0           70        96
4        0.0    1.0    0.0           68        80
5        0.0    1.0    0.0           65        70
6        1.0    0.0    0.0           64        65
7        0.0    0.0    1.0           72        95
8        0.0    0.0    1.0           69        70
9        0.0    1.0    0.0           75        80
10       0.0    0.0    1.0           75        70
11       1.0    0.0    0.0           72        90
12       1.0    0.0    0.0           81        75
13       0.0    1.0    0.0           71        91

In [13]:
#Kolonların birleştirilmesi
s2 = pd.concat([s1,sonuc2],axis=1)
s2

    overcast  rainy  sunny  temperature  humidity  windy
0        0.0    0.0    1.0           85        85    1.0
1        0.0    0.0    1.0           80        90    0.0
2        1.0    0.0    0.0           83        86    1.0
3        0.0    1.0    0.0           70        96    1.0
4        0.0    1.0    0.0           68        80    1.0
5        0.0    1.0    0.0           65        70    0.0
6        1.0    0.0    0.0           64        65    0.0
7        0.0    0.0    1.0           72        95    1.0
8        0.0    0.0    1.0           69        70    1.0
9        0.0    1.0    0.0           75        80    1.0
10       0.0    0.0    1.0           75        70    0.0
11       1.0    0.0    0.0           72        90    0.0
12       1.0    0.0    0.0           81        75    1.0
13       0.0    1.0    0.0           71        91    0.0

In [14]:
s3 = pd.concat([s2,sonuc4],axis=1)
s3

    overcast  rainy  sunny  temperature  humidity  windy play
0        0.0    0.0    1.0           85        85    1.0    0
1        0.0    0.0    1.0           80        90    0.0    0
2        1.0    0.0    0.0           83        86    1.0    1
3        0.0    1.0    0.0           70        96    1.0    1
4        0.0    1.0    0.0           68        80    1.0    1
5        0.0    1.0    0.0           65        70    0.0    0
6        1.0    0.0    0.0           64        65    0.0    1
7        0.0    0.0    1.0           72        95    1.0    0
8        0.0    0.0    1.0           69        70    1.0    1
9        0.0    1.0    0.0           75        80    1.0    1
10       0.0    0.0    1.0           75        70    0.0    1
11       1.0    0.0    0.0           72        90    0.0    1
12       1.0    0.0    0.0           81        75    1.0    1
13       0.0    1.0    0.0           71        91    0.0    0

In [15]:
x_train , x_test , y_train , y_test = train_test_split(s2,sonuc4,test_size=0.33,random_state=0) #Model eğitimi

In [16]:
x_train

    overcast  rainy  sunny  temperature  humidity  windy
13       0.0    1.0    0.0           71        91    0.0
9        0.0    1.0    0.0           75        80    1.0
1        0.0    0.0    1.0           80        90    0.0
7        0.0    0.0    1.0           72        95    1.0
10       0.0    0.0    1.0           75        70    0.0
3        0.0    1.0    0.0           70        96    1.0
0        0.0    0.0    1.0           85        85    1.0
5        0.0    1.0    0.0           65        70    0.0
12       1.0    0.0    0.0           81        75    1.0

In [17]:
#Modelin Eğitim Aşaması 
regressor = LinearRegression()
regressor.fit(x_train,y_train)
y_pred = regressor.predict(x_test)
y_pred

array([[0.74233631],
       [0.75371988],
       [0.78998557],
       [0.27181229],
       [0.78572451]])

In [18]:
y_test

   play
8     1
6     1
4     1
11    1
2     1

In [19]:
X = np.append(arr=np.ones((14,1)).astype(int),values=s2,axis=1)
X_L = s2.iloc[:,[0,1,2,3,4,5]].values
X_L = np.array(X_L , dtype = float)
p = s3.iloc[:,5:6].values
model = sm.OLS(p,X_L).fit()
model.summary()

C:\Users\emirh\anaconda3\Lib\site-packages\scipy\stats\_stats_py.py:1806: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       1.000
Model:                            OLS   Adj. R-squared:                  1.000
Method:                 Least Squares   F-statistic:                 1.184e+28
Date:                Sun, 25 Aug 2024   Prob (F-statistic):          3.01e-111
Time:                        14:31:49   Log-Likelihood:                 439.18
No. Observations:                  14   AIC:                            -866.4
Df Residuals:                       8   BIC:                            -862.5
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1          7.772e-16   2.93e-14      0.026      0.980   -6.69e-14    6.84e-14
x2          1.332e-15   2.77e-14      0.048      0.963   -6.25e-14    6.51e-14
x3          5.551e-16   2.97e-14      0.019      0.986    -6.8e-14    6.91e-14
x4          4.857e-17   4.21e-16      0.115      0.911   -9.22e-16    1.02e-15
x5          1.041e-17   2.29e-16      0.045      0.965   -5.19e-16    5.39e-16
x6             1.0000   4.47e-15   2.24e+14      0.000       1.000       1.000
==============================================================================
Omnibus:                        1.719   Durbin-Watson:                   0.021
Prob(Omnibus):                  0.423   Jarque-Bera (JB):                1.008
Skew:                           0.310   Prob(JB):                        0.604
Kurtosis:                       1.841   Cond. No.                     2.70e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.7e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""